@import "tailwindcss";


html{
  height: 100%;
}

.image-shadow{
  filter: drop-shadow(1px 1px 2px #fff);
}

/* Scrollbarning ko‘rinishini o‘zgartirish */
.scroll-container::-webkit-scrollbar {
  width: 3px;      /* Scrollning kengligi */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: white;  /* Scrollning asosiy rangi */
  border-radius: 10px;     /* Yumaloq burchaklar */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;  /* Hover holatidagi rang */
}

.react-calendar{
  width: 100% !important;
  border: none !important;
  font-family: "Inter" ,sans-serif !important;
}

.react-calendar__navigate__label__labelText{
  font-weight: 6000;
}

.react-calendar__title--active{
  background-color: #c3ebfa important;
  color: black !important;
}
